@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 900;
  font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Color Variables */
    --yellow: #F4D04E;
    --white: #FFFFFF;
    --gray500: #6B6B6B;
    --gray950: #111111;

    /* Typography Variables */
    --text-preset-1: 800 2.4rem/150% 'Figtree', sans-serif;
    --text-preset-2: 500 1.6rem/150% 'Figtree', sans-serif;
    --text-preset-3: 500 1.4rem/150% 'Figtree', sans-serif;
    --text-preset-3-bold: 800 1.4rem/150% 'Figtree', sans-serif;

    /* Spacing Variables */
    --gap300: 24px;
    --gap150: 12px;
    --gap100: 8px;
    --gap50: 4px;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    font: var(--text-preset-2);
    letter-spacing: 0;
}

.card-container {
    text-decoration: none;
    width: 384px;
    height: 522px;
    background-color: var(--white);
    border-radius: 20px;
    border:  1.5px solid var(--gray950);
    box-shadow: 8px 8px 0 0 #000000;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: var(--gap300);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card-container:focus, .card-container:hover {
    transform: translate(-8px, -8px);
    box-shadow: 16px 16px 0 0 #000000;
}

 .card-container:focus .lesson-title, .card-container:hover .lesson-title {
    color: var(--yellow);
}

.lesson-illustration-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--gap150);
    align-items: start;
}

.category-tag {
    background-color: var(--yellow);
    border-radius: 4px;
    padding: 4px 12px;
    color: var(--gray950);
    font: var(--text-preset-3-bold);
    display: inline-block;
}

.publish-date {
    color: var(--gray950);
    font: var(--text-preset-3);
}

.lesson-title {
    color: var(--gray950);
    font: var(--text-preset-1);
    transition: color 0.5s ease;
}

.lesson-desc {
    color: var(--gray500);
    font: var(--text-preset-2);
}

.author-section {
    display: flex;
    align-items: center;
    gap: var(--gap150);
}

.creator-avatar-img {
    width: 32px;
    height: 32px;
}

.creator-name-text {
    color: var(--gray950);
    font: var(--text-preset-3-bold);
}

.attribution { 
    font-size: 0.6875rem; 
    text-align: center; 
    position: fixed;
    bottom: 30px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}



@media (max-width: 375px) {
    :root {
        --text-preset-1: 800 2.0rem/150% 'Figtree', sans-serif;
        --text-preset-2: 500 1.4rem/150% 'Figtree', sans-serif;
        --text-preset-3: 500 1.2rem/150% 'Figtree', sans-serif;
        --text-preset-3-bold: 800 1.2rem/150% 'Figtree', sans-serif;
    }

    .card-container {
        width: 327px;
        height: 501px;
    }

    .lesson-illustration-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .creator-name-text {
        font-size: 1.4rem;
    }

    .card-container:focus, .card-container:hover {
        transform: translate(0px, 0px);
        box-shadow: 8px 8px 0 0 #000000;
    }
}